openapi: 3.1.0
info:
  title: Authsignal Server Actions Users API
  description: 'Best-effort OpenAPI 3.1 description of the Authsignal Server API (v1).

    Authsignal provides drop-in MFA, passwordless and risk-based authentication.

    Derived from public docs at https://docs.authsignal.com/api-reference/server-api/overview

    and the OpenAPI spec referenced at https://docs.authsignal.com/server-api.json.

    '
  version: '1'
  contact:
    name: Authsignal Docs
    url: https://docs.authsignal.com/api-reference/server-api/overview
servers:
- url: https://api.authsignal.com/v1
  description: US (Oregon)
- url: https://eu.api.authsignal.com/v1
  description: EU (Ireland)
- url: https://au.api.authsignal.com/v1
  description: AU (Sydney)
- url: https://ca.api.authsignal.com/v1
  description: CA (Montreal)
security:
- basicAuth: []
tags:
- name: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Query users
      operationId: queryUsers
      parameters:
      - in: query
        name: username
        schema:
          type: string
      - in: query
        name: email
        schema:
          type: string
      - in: query
        name: phoneNumber
        schema:
          type: string
      - in: query
        name: verificationToken
        schema:
          type: string
      responses:
        '200':
          description: Users returned
  /users/{userId}:
    parameters:
    - $ref: '#/components/parameters/UserId'
    get:
      tags:
      - Users
      summary: Get user
      operationId: getUser
      responses:
        '200':
          description: User returned
    patch:
      tags:
      - Users
      summary: Update user
      operationId: updateUser
      responses:
        '200':
          description: User updated
    delete:
      tags:
      - Users
      summary: Delete user
      operationId: deleteUser
      responses:
        '204':
          description: User deleted
components:
  parameters:
    UserId:
      in: path
      name: userId
      required: true
      schema:
        type: string
      description: Authsignal user ID
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic auth where the username is the Authsignal tenant secret API

        key and the password is empty.

        '
